
td {
    text-align: center;
}

td, th {
    border: 1px solid black;
    background-color: #F5F5FF;
}

table {
    border-collapse: collapse;
}

dl {
    width: 100%;
    overflow: hidden;
    background: #f5f5ff;
    padding: 3px;
    margin: 5px;
}
dt {
    float: left;
    width: 6%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}
dd {
    float: left;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}