table.blue_table_style {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: content-box;
    text-align: center;
    border-collapse: collapse;
}
table.blue_table_style td, table.blue_table_style th {
    border: 1px solid #AAAAAA;
    padding: 5px;
}
table.blue_table_style tbody td {
    font-size: 20px;
}
table.blue_table_style tr:nth-child(even) {
    background: #D0E4F5;
}
table.blue_table_style thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
table.blue_table_style thead th {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
table.blue_table_style tfoot td {
    font-size: 14px;
}
table.blue_table_style tfoot .links {
    text-align: right;
}
table.blue_table_style tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}